body {
  margin: 0;
  font-family: Monospace;
  font-size: 13px;
  line-height: 24px;

  overscroll-behavior: none;

  
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}
/* 去掉移动端网页按钮点击时黄色边框 */
div:focus,
div:active,
button:focus,
button:active,
a:focus,
a:active {
  outline: none;
}

a {
  color: #ff0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  text-transform: uppercase;
}

#info {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 1; /* TODO Solve this in HTML */
}

a,
button,
input,
select {
  pointer-events: auto;
}

.lil-gui {
  z-index: 2 !important; /* TODO Solve this in HTML */
}

@media all and (max-width: 640px) {
  .lil-gui.root {
    right: auto;
    top: auto;
    max-height: 50%;
    max-width: 80%;
    bottom: 0;
    left: 0;
  }
}

#overlay {
  position: absolute;
  font-size: 16px;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
}

#overlay button {
  background: transparent;
  border: 0;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  color: #ffffff;
  padding: 12px 18px;
  text-transform: uppercase;
  cursor: pointer;
}

#notSupported {
  width: 50%;
  margin: auto;
  background-color: #f00;
  margin-top: 20px;
  padding: 10px;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* three 3D 容器 */
.container {
  position: absolute;
  overflow: hidden;
  margin: 0 auto;
  z-index: 1;
}

/* 说明内容 */
.content {
  font-size: 16px;
  position: absolute;
  color: #878e99;
  width: 30%;
  line-height: 24px;
  z-index: 100;
  left: 10%;
  top: 100px;
  display: none;
}

/* 工具栏 */
.toolbar {
  width: 100%;
  background-color: #424242;
  position: fixed;
  padding: 0 20px;
  top: 0;
  z-index: 2;
  display: none;
  margin: 0;
  padding: 0;
  height: 60px;
  text-align: center;
}

.toolbar_list {
  width: 40%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
}

.toolbar_item {
  line-height: 60px;
  color: #fff;
  font-size: 17px;
  flex: auto;
  font-weight: 700;
}

.toolbar_title {
  float: left;
  font-size: 24px;
  margin-left: 20px;
  line-height: 60px;
  color: #fff;
  font-weight: 700;
}

/* 视图操作栏 */
.active_nav {
  position: absolute;
  top: 50%;
  width: 40px;
  right: 10px;
  transform: translate3d(-50%, -50%, 0);
  line-height: 40px;
  z-index: 100;
  display: none;
  text-align: center;
  color: #3c3c3c;
}

.active_item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #424242;
  text-align: center;
  border: 0;
  color: #fff;
  line-height: 40px;
  margin-bottom: 20px;
  padding: 0;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* 参数弹窗 */
.param-dialog {
  display: none;
  position: absolute;
  z-index: 100;
  margin: 0;
  padding: 0;
  border: 0;
  color: #fff;
  vertical-align: baseline;
  outline: 0;
  transform: translate3d(-50%, -50%, 0);
  left: 50%;
  top: 50%;
  width: 196px;
  padding: 12px 0 12px 14px;
  background: rgba(5, 15, 34, 0.8);
  border-radius: 8px;
}
/* 进度条 */
.progress {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
}
.progress .mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.progress .loading {
  width: 60px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -15px;
  margin-left: -30px;
  z-index: 100;
  border-radius: 5px;
}
.progress .trends {
  font-size: 12px;
  font-weight: bolder;
  color: #fff;
  text-align: center;
  line-height: 30px;
  display: block;
}
